.App {
    width: 350px;
    margin: auto;
    min-height: 500px;
    padding-top: 50px;
    @import './Signin.scss';
    @import './Signup.scss';
    @import './Verify.scss';
    @import './Home.scss';
}